<p-panel [header]="mapPanelHeader">
  <div class="map">
    <agm-map
      [latitude]="latitude"
      [longitude]="longitude"
      [zoom]="zoom"
      (mapClick)="createPin($event)"
      [disableDefaultUI]="false"
      [zoomControl]="false"
    >
      <agm-marker
        *ngFor="let m of savedPins; let i = index; trackBy: identifyPin"
        [latitude]="m.latitude"
        [longitude]="m.longitude"
        [label]="m.locationName"
        [markerDraggable]="!m.isSaved"
        (markerClick)="savePin(m, i)"
        (dragEnd)="pinDragEnd(m, i, $event)"
      >
        <agm-info-window>
          <strong>Pin Saved!</strong>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</p-panel>
